body {
    background-image: url(https://images.unsplash.com/photo-1548418054-71fe8864685e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    margin: 0 auto;
    font-size: 35px;
    color: rgb(36, 222, 255);
}
.question {
    margin-top: 50px;
}
.inputReplay {
    font-size: 18px;
    margin-top: 10px; 
    color: #1ef0ff;
    padding-left: 20px;
}

.message {
    padding: 15% 10% 15% 10%;
    margin: 35% 30% 10% 20%;
    border-radius: 50%;
    position: relative;
    font-size: 35px;
    font-family: 'Parisienne', cursive;
    font-weight: bolder;
    color: rgb(5, 161, 189);
    overflow: break-word;
    background-color: rgba(255, 245, 245, .6);
}