html {
    background-image: url(https://images.unsplash.com/photo-1548418054-71fe8864685e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 35px;
    color: rgb(36, 222, 255);
    min-height: 100%;
    text-align: center;
}
.inputReplay, input{
    font-size: 18px;
    margin-top: 50px; 
    color: #1ef0ff;
    padding-left: 20px;
    text-align: center;
}
.inputReplay {
    margin-top: 10px;
}
.message {
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: 43%;
    font-size: 35px;
    font-family: 'Parisienne', cursive;
    font-weight: bolder;
    color: rgb(5, 161, 189);
    overflow: break-word;
    background-color: rgba(255, 245, 245, .6);
    padding: 6% 1%;
    height: 10%;
    width: 15%;
}
.question {
    margin-top: 50px;
    top: 10%;
    left: 37%;
    border-radius: 3px;
    padding: 20px;
}