:root {
  --mainLightGreen: #a7c8c1;
  --mainGreen: #548c60;
}
.max-height {
  min-height: 100vh;
}
body {
  background: var(--mainLightGreen);
}
.img-container {
  min-height: 60vh;
  background: url("../img/pic0.jpg") center/cover fixed no-repeat;
  border: 0.5rem solid var(--mainGreen);
  border-radius: 0.5rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .img-container {
    min-height: 80vh;
  }
}

.btn-left {
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--mainGreen);
  color: var(--mainLightGreen) !important;
  transform: translate(-50%, -50%);
  border: 0.2rem solid var(--mainGreen);
  font-size: 1.2rem;
}
.btn-left:hover {
  border-color: var(--mainGreen);
  background: var(--mainLightGreen);
  color: var(--mainGreen) !important;
}
.btn-right {
  position: absolute;
  top: 50%;
  right: 0;
  background: var(--mainGreen);
  color: var(--mainLightGreen) !important;
  font-size: 1.2rem;
  transform: translate(50%, -50%);
  border: 0.2rem solid var(--mainGreen);
}
.btn-right:hover {
  border-color: var(--mainGreen);
  background: var(--mainLightGreen);
  color: var(--mainGreen) !important;
}
