body {
  background: url("https://images.unsplash.com/photo-1528459709161-157d86910939?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1108&q=80") center/cover fixed no-repeat;
  color: rgb(162, 162, 214);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.main-container {
  border: 0.1rem solid white;
  border-radius: 0.2rem;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 10%;
}
#counter {
  font-size: 10rem;
}
.btn {
  box-shadow: 0 0.2rem 0.5rem rgba(153, 153, 153, 0.9);
  background: pink;
  color: white;
  padding: 5px;
  font-size: 1.2em;
  margin: 0px 20px 15px 20px;
  text-transform: uppercase;
}
.btn:hover {
  background: lightBlue;
}
