body {
    font-family: Arial, Helvetica, sans-serif;
}

#containerEle {
    background-color: rgb(197, 197, 197);
    width: 400px;
    font-size: 1em;
    position: relative;
    border: 1px solid black;
    overflow: hidden;
    margin: 5px;
}

#containerEle #content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

input, button {
    margin: 5px;
}