:root {
  --mainLightGreen: #a7c8c1;
  --mainGreen: #548c60;
}
body {
  background: var(--mainLightGreen);
}
.img-container {
  min-height: 60vh;
  background: url("../img/pic0.jpg") center/cover fixed no-repeat;
  border: 0.5rem solid var(--mainGreen);
  border-radius: 0.5rem;
  position: relative;
  width: 80%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .img-container {
    min-height: 80vh;
  }
}
.btn {
  position: absolute;
  top: 50%;
  background: var(--mainGreen);
  color: var(--mainLightGreen) !important;
  font-size: 1.2rem;
  border: 0.2rem solid var(--mainGreen);
  padding: 5px 12px;
  border-radius: 3px;
}
.btn:hover {
  border-color: var(--mainGreen);
  background: var(--mainLightGreen);
  color: var(--mainGreen) !important;
}
.btn-left {
  left: 0;
  transform: translate(-50%, -50%);
}
.btn-right {
  right: 0;
  transform: translate(50%, -50%);
}